<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Ionic SQLite
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Ionic SQLite</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-button expand="full" (click)="createDB()">
    Create Database
  </ion-button>

  <ion-button expand="full" (click)="createTable()">
    Create Table
  </ion-button>
  
  <ion-button expand="full" (click)="getRows()">
    Get Rows
  </ion-button>
  
  <ion-item-divider>
    <ion-input placeholder="Enter Name" [(ngModel)]="nameModel"></ion-input>
    <ng-container *ngIf="updateActive; else elseTemplateUpdate">
      <ion-button expand="block" (click)="updateRow()">
        Update Row
      </ion-button>
    </ng-container>
    <ng-template #elseTemplateUpdate>
      <ion-button expand="block" (click)="insertRow()">
        Insert Row
      </ion-button>
    </ng-template>
  </ion-item-divider>

  <ion-grid>
    <ion-row>
      <ion-col>
        Row ID
      </ion-col>
      <ion-col>
        Name
      </ion-col>
      <ion-col>
        Delete
      </ion-col>
    </ion-row>
    <ion-row *ngFor="let item of rowData">
      <ion-col>
        {{item.pid}}
      </ion-col>
      <ion-col>
        {{item.Name}}
      </ion-col>
      <ion-col>
        <ion-button (click)="deleteRow(item)" size="small" color="danger">
          <ion-icon name="trash"></ion-icon>
        </ion-button>
        <ion-button (click)="enableUpdate(item)" size="small" color="warning">
          <ion-icon name="create"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
